body{
    background: #05080d url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.personalData{
    border-top: rgb(68, 68, 68) 1px solid;
    color: #4c5c60;
    font-family: sans-serif;
    font-size: 12px;
    /* inline-size: min-content; */
}

h2{
    font-size:14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
}

p{
  color: #ffffff;
}

a, .labelCode{
    color: #c7cfd0;
}

a:hover{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.consoleSection{
    border: 1px solid #4c5c60;
    min-height: 500px;
    max-height: 500px;
    /* background-color: #05080d; */
    /* background-color: rgba(5,8,13,0.5); */
    background-image: url(../images/console-background.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    overflow-y: auto;
}

.contentCode{
    /* background-color: #000; */
    border: none;
    color: #c7cfd0;
    font-family: 'Montserrat';
    font-size: 12px;
}

.textCommand{
    background-color: rgba(193, 193, 193,0.2);
    border: none;
    color: #c7cfd0;
    font-family: 'Montserrat';
    font-size: 13px;
    width: 70%;
    backdrop-filter: blur(5px);
}

.textCommand:focus{
    outline: none;
}

#time{
    border-top: rgb(68, 68, 68) 1px solid;
}

.borderTop{
    border-top: rgb(68, 68, 68) 1px solid;
}

.backdrop{
    background-color: rgba(255, 255, 255, 0.081);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c7cfd0; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4c5c60;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #05080d; 
  }


/*TECLADO*/
  .keyboard {
    width: 900px;
    height: 200px;
    display: grid;
    gap: 2px;
    color: #c7cfd0;
    font-size: 12px;
  }
  
  .keyboard__row {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .keyboard__key {
    height: 100%;
    width: 100%;
    grid-column: span 4;
    grid-row:span 2;
    border-radius: 3px;
    border: 1px solid gray;
    transition: .05s background ease-in;
  }
  
  .keyboard__key--h0-5 {
    grid-row: span 1;
  }
  .keyboard__key-arrow-up {
    grid-row: 1;
    grid-column-end: -5;
  }
  .keyboard__key-arrow-down {
    grid-column-end: -5;
    grid-row: 2;
  }
  .keyboard__key-arrow-left {
    grid-column-end: -9;
    grid-row: 2;
  }
  .keyboard__key-arrow-right {
    grid-column-end: -1;
    grid-row: 2;
  }
  
  .keyboard__key--w1-25 {
    grid-column: span 5;
  }
  
  .keyboard__key--w1-5 {
    grid-column: span 6;
  }
  
  .keyboard__key--w1-75 {
    grid-column: span 7;
  }
  
  .keyboard__key--w2 {
    grid-column: span 8;
  }
  
  .keyboard__key--w2-25 {
    grid-column: span 9;
  }
  
  .keyboard__key--w2-75 {
    grid-column: span 11;
  }
  
  .keyboard__key--space {
    grid-column: span 22;
  }
  
  .keyboard__key--pressed {
    background: lightblue;
  }

  .keyboard__key{
      text-align: center;
  }
  /*TECLADO*/

  .simple-keyboard {
    background-color: rgba(88, 88, 88, 0.8)!important;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .simple-keyboard .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5)!important;
    color: white;
  }
  
  .simple-keyboard .hg-button:active {
    background: #1c4995;
    color: black;
  }
  
  #root .simple-keyboard + .simple-keyboard-preview {
    background: #1c4995;
  }

  @media (min-width: 1025px){
    .hideElements{
        display:none;
    }
}